// Modular scale
// ---------------------------------------

// Setting responsive modular-scales. Use appropriate scales for viewport sizes.
$modular-scale: (
  // Major Third http://www.modularscale.com/?16,28&px&1.25&web&text
  scale-0: (
    alpha:   28.0,
    beta:    25.0,
    gamma:   21.9,
    delta:   17.5,
    epsilon: 14.4,
    zeta:    14.0,
    eta:     11.2,
    theta:   9.2,
    iota:    7.4
  ),
  // Major Third http://www.modularscale.com/?17,30&px&1.25&web&text
  scale-1: (
    alpha:   30.0,
    beta:    24.0,
    gamma:   23.4,
    delta:   19.2,
    epsilon: 18.8,
    zeta:    15.0,
    eta:     12.0,
    theta:   9.8,
    iota:    9.6
  ),
  // Major Third http://www.modularscale.com/?18,32&px&1.25&web&text
  scale-2: (
    alpha:   32.0,
    beta:    25.6,
    gamma:   25.0,
    delta:   20.5,
    epsilon: 20.0,
    zeta:    16.0,
    eta:     12.8,
    theta:   10.5,
    iota:    10.2
  ),
  // Perfect Fourth http://www.modularscale.com/?20,40&px&1.333&web&text
  scale-3: (
    alpha:   40.0,
    beta:    32.0,
    gamma:   30.0,
    delta:   24.0,
    epsilon: 22.5,
    zeta:    18.0,
    eta:     16.9,
    theta:   13.5,
    iota:    12.7
  ),
  // Aug. Fourth http://www.modularscale.com/?22,50&px&1.414&web&text
  scale-4: (
    alpha:   50.0,
    beta:    40.0,
    gamma:   35.4,
    delta:   28.3,
    epsilon: 25.0,
    zeta:    20.0,
    eta:     17.6,
    theta:   15.6,
    iota:    12.5
  )
);
