---
layout: default
---

{% include site-header.html %}

<main class="main  container">

  <div class="content">

    <section class="section  typeset">

      <h1>Essays</h1>
      <p>If you're looking for a place to start, maybe try <a href="https://smflem.github.io/2020/10/19/mythical-man-month/"><b>The Mythical Man-Month</b></a>
         or <a href="https://smflem.github.io/2019/12/15/private-equity-deadspin/"> <b>Deadspin and the limits of private equity</b></a>.
      </p>

      <p>This collection can be viewed by category <a href="https://smflem.github.io/categories/"><b>here.</b></a>
      For (much) less polished work, the <a href="https://smflem.github.io/fragments/"><b>Fragments</b></a> section of the site might appeal.
      </p>

      <p>As with the rest of the site, all opinions and errors within are my own.<br>
        Nothing here should be taken to represent any of my past, present, or future employers, clients, etc.
      </p>

    </section>

    {% include post-list.html %}

  </div>

  {% if page.aside == true %}{% include site-aside.html %}{% endif %}

</main>

{% include site-footer.html %}
